<ul>
  <li class="<%= active_css_iftrue { ['channels', 'channel_playlists'].include?(controller_name) } %>">
    <%= link_to fleet_channels_path do %>
      <span class="icon is-small">
        <i class="fas fa-sign-in-alt"></i>
      </span>
      <span>Video Channels</span>
    <% end %>
  </li>
  <li class="<%= active_css 'videos' %>">
    <%= link_to fleet_videos_path(video_type: Skooteo::ENTERTAINMENT_VIDEO_TYPE) do %>
      <span class="icon is-small">
        <i class="fas fa-sign-out-alt"></i>
      </span>
      <span>All Videos</span>
    <% end %>
  </li>
</ul>
