<%= form_with(model: [:media, @playlist]) do |form| %>
  <header class="s-modal-header">
    <div class="columns is-mobile is-align-middle">
      <div
        class="column is-one-third"
        data-action="click->closer#close"
        data-closer-element-id-value="playlist_form_modal"
      >
        <span class="icon">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <div class="column has-text-centered">
        <h2 class="title is-5">
          <%= @playlist&.name || 'New Playlist' %>
        </h2>
      </div>
      <div class="column is-one-third has-text-right">
        <button class="button is-primary">Save</button>
      </div>
    </div>
  </header>
  <div class="s-modal-content">
    <div class="columns">
      <fieldset class="form-fieldset">
        <legend class="form-legend">Playlist Details</legend>
        <div class="form-table">
          <div class="form-row">
            <%= form.label :name %>
            <div class="form-field-content">
              <%= form.text_field :name, placeholder: true, required: true %>
            </div>
          </div>
        </div>
        <article>
          <div>
            <span id="save_notification"></span>
          </div>
        </article>
      </fieldset>
    </div>
  </div>
<% end %>
