<div class="header">
  <div class="d-flex header-title">
    <span class="icon">
      <i class="fas fa-video"></i>
    </span>
    <h1 class="title is-inline-block">Entertainment</h1>
  </div>
  <div class="d-flex">
    <div class="tabs is-inline-block">
      <%= render 'admin/companies/channels/tabs' %>
    </div>
  </div>
</div>
